{% extends 'base.html.twig' %}

{% block title %}Cat Data{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-center">{{ cat_data.breeds[0].name }}</h2>
                <p class="text-center">{{ cat_data.breeds[0].description }}</p>
                <img src="{{ cat_data.url }}" alt="Cat Image" class="img-fluid">
            </div>
        </div>
    </div>
{% endblock %}
