{% extends 'base.html.twig' %}

{% block title %}Cat data choice{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <form method="post" action="{{ path('app_cat_name') }}">
                    <div class="mb-3">
                        <label for="catDropdown" class="form-label">Kérem válasson egy macskát:</label>
                        <select id="catDropdown" name="catDropdown" class="form-select">
                            {% for cat in cat_data %}
                                <option value="{{ cat.id }}">{{ cat.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Adatok lekérése</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
